@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  height: 100vh;
}
.App {
  position: relative;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #eaeaea;
}

h3 {
  font-size: 30px;
}

.letter-button {
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  border: none;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #555;
  color: white;
  width: 30px;
  height: 36px;
}

.newGame-button {
  font-size: 28px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #555;
  color: white;
}

.winner {
  position: absolute;
  top: 0px; /* Ajusta según necesidad */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;

  z-index: 9999; /* Asegura que esté por encima de todo */

  height: 100vh; /* No permite que el contenedor sea más alto que el 90% de la pantalla */
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  gap: 20px;

  background-color: #d10e42;
}

.winner img {
  width: 100%; /* La imagen se ajusta al ancho del div */
  height: auto; /* Mantiene la proporción */
  border-radius: 10px; /* Opcional: para que la imagen tenga bordes redondeados */
}

.win-title {
  color: white;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.lose-word {
  color: white;
}

.loser {
  position: absolute;
  top: 0px; /* Ajusta según necesidad */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;

  z-index: 9999; /* Asegura que esté por encima de todo */

  height: 100vh; /* No permite que el contenedor sea más alto que el 90% de la pantalla */
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  gap: 20px;

  background-color: #331f20;
}

.loser img {
  width: 100%; /* La imagen se ajusta al ancho del div */
  height: auto; /* Mantiene la proporción */
  border-radius: 10px; /* Opcional: para que la imagen tenga bordes redondeados */
}

@media (min-width: 600px) {
  .letters-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones pasen a la siguiente línea */
    justify-content: center; /* Centra los botones */
    gap: 10px; /* Espaciado entre botones */
    max-width: 650px; /* Limita el ancho en desktop */
    margin: 20px auto; /* Centra el contenedor */
    padding: 10px;
  }

  .letter-button {
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
    border: none;
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    background-color: #555;
    color: white;
  }

  .hiddenWord h3 {
    font-size: 40px;
  }

  .letter-button {
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
    border: none;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    background-color: #555;
    color: white;
    width: 45px;
    height: 50px;
  }

  .hiddenWord h3 {
    letter-spacing: 4px; /* Ajusta según necesites */
  }
}

.hiddenWord h3 {
  letter-spacing: 2px; /* Ajusta según necesites */
}
